[Desktop Entry]
Name=Foundation Pulse
Comment=Open Foundation Pulse
Exec=foundationos-launch-foundation pulse
Terminal=false
Type=Application
Categories=Office;
