[Desktop Entry]
Name=Foundation Chat
Comment=Open Foundation Chat
Exec=foundationos-launch-chat
Icon=foundation-chat
Terminal=false
Type=Application
Categories=Network;
